### VisualStudioCode ###
.vscode/*
*.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# local history for Visual Studio Code
.history/


# python
*__pycache__/

# env

*pdp_env

### Cpp ###

# Executables
*.exe
*.out
*.app
main